<!DOCTYPE html>
<html>
  <head>
    <title>TweetBeat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://c9.io/denisedslu/tweetbeat/workspace/css/bootstrap.min.css">
    <link href="https://c9.io/denisedslu/tweetbeat/workspace/css/homepage.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

        <h1 class="text-center"><img src="https://c9.io/denisedslu/tweetbeat/workspace/TweetBeat-logo.png" /></h1>
        <h3 class="text-center">Enter handles related to a certain beat or community<br/> to see what the trending topics are.</h3>

    
      <form id="myForm" class="form-horizontal" role="form" action="http://127.0.0.1:5000/search-test" method="POST">
        <div class="input-group">
            <span class="input-group-addon">@</span>
            <input name='user1' type="text" class="form-control">
        </div>
         <div class="input-group">
            <span class="input-group-addon">@</span>
            <input name='user2' type="text" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-addon">@</span>
            <input name='user3' type="text" class="form-control">
        </div>
         <div class="input-group">
            <span class="input-group-addon">@</span>
            <input name='user4' type="text" class="form-control">
        </div>
         <div class="input-group">
            <span class="input-group-addon">@</span>
            <input name='user5' type="text" class="form-control">
        </div>
      </form>
    </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-3"> 
            <button type="button" class="btn btn-primary">Add another handle</button>
            </div>
            <div class="col-sm-offset-2 col-sm-3">
            <button type="button" class="btn btn-primary search">Search</button>
            </div>
        </div>



    </div> <!-- /container -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".search").on("click", function(){
                $("#myForm").submit()
            });
        });

    </script>
  </body>
</html>
